{
   "parser": "babel-eslint",
   "env": {
      "browser": true,
      "node": true,
      "meteor": true
   },
   "rules": {
      "quotes": [
         2,
         "single"
      ],
      "eol-last": [
         0
      ],
      "no-mixed-requires": [
         0
      ],
      "no-underscore-dangle": [
         0
      ],
      "no-extra-strict": [
         0
      ],
      "strict": [
         0
      ],
      "curly": [
         0
      ]
   },
   "globals": {
      "Picker": false,
      "FlowRouter": false,
      "FlowLayout": false,
      "GeoJSON": false,
      "EventEmitter": false,
      "Customers": true
   }
}