h1.landing {
   @media (min-width: 750px) {
      margin-top: 10rem;
      margin-bottom: 10rem;
   }
}

h2.landing {
   margin-top: 2.5rem;

   @media (min-width: 750px) {
      margin-top: 5rem;
   }
}

.connect {
   margin-top: 2.5rem;

   @media (min-width: 750px) {
      margin-top: 5rem;
   }

   .connect__label {
      margin-top: 10px;
      text-align: center;

      @media (min-width: 750px) {
         text-align: right;
      }
   }

   .btn__holder {
      text-align: center;
      margin-top: 15px;

      @media (min-width: 750px) {
         margin-top: 0;
      }
   }
}

.connect-private__space-id,
.connect-public__options {
   height: 50px;
   font-size: 20px;
}

.connect-private {
   margin-bottom: 10rem;

   .connect-private__alert {
      margin-top: 1rem;
   }
}

.btn:focus {
   outline: none;
}
