h1 {
   margin-top: 10rem;
   margin-bottom: 10rem;
}

h2 {
   margin-top: 5rem;
}

.connect {
   margin-top: 5rem;

   h3 {
      margin-top: 10px;
      text-align: right;
   }
}

.connect-private__space-id,
.connect-public__options {
   height: 50px;
   font-size: 20px;
}
